body {
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.result {
  color: rgb(15, 15, 15);
}

.button {
  background-color: #03293e;
  border: none;
  color: rgb(250, 245, 245);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

h1,
h2 {
  text-align: center;
  color: rgb(15, 15, 15);
  size: 24px;
  width: auto;
}

@media (max-width: 768px) {
  .buttons {
    flex-direction: column;
    align-items: center;
  }
}

.content-buttons {
  width: 100%;
}

.buttons {
  display: flex;
  gap: 4px;
  width: 100%;
  justify-content: center;
}


.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  width: 180px;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #9797a4;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #bbb9b9;
}

.items-buttons {
  width: 90%;
}

.button:hover {
  background-color: #65c3e5
}

.button:active {
  background-color: #62bee5;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.contenedor {
  width: 100%;
}